mkdocs
mkdocs-material
mkdocs-material-extensions
mkdocs-awesome-pages-plugin
mkdocs-blogging-plugin
mkdocs-categories-plugin
mkdocs-get-deps
mkdocs-git-committers-plugin-2
mkdocs-git-revision-date-localized-plugin